[core]
	excludesfile = /home/nawo/.gitignore
	editor = nvim
[alias]
	oops = commit --amend --no-edit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[init]
	defaultBranch = main
[fetch]
  	prune = true
[commit]
	verbose = true

